<!DOCTYPE html>
<html>
<center>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->

    <style>
        
        canvas {
            border: 2px solid black;
            background-color: #87ceeb;
        }
    </style>

<br>
<div>
    <!-- As a heading -->
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="font-size: 100px">Block Jumper ◘</span>
        </div>
    </nav>
</div>
</head>
</center>
<center>
<body onload="startGame()">
    
        <script>

            var canvasWidth = 600;
            var canvasHeight = 400;

            var player;
            var playerYPosition = 200;

            var fallSpeed = 0;
            var interval = setInterval(updateCanvas, 20);

            var isJumping = false;
            var jumpSpeed = 0;

            var block;

            // Create a score of 0 to start with
            var score = 0;
            // Create a variable to hold our scoreLabel
            var scoreLabel;

            function startGame() {
                gameCanvas.start();
                player = new createPlayer(40,40, 20);
                block = new createBlock();
                // Assign your scoreLabel variable a value from scoreLabel()
                scoreLabel = new createScoreLabel(10, 30);
            }

            var gameCanvas = {
                canvas: document.createElement("canvas"),
                start: function () {
                    this.canvas.width = canvasWidth;
                    this.canvas.height = canvasHeight;
                    this.context = this.canvas.getContext("2d");
                    document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                }
            }

            function createPlayer(width, height, x) {
                this.width = width;
                this.height = height;
                this.x = x;
                this.y = playerYPosition;

                this.draw = function () {
                    ctx = gameCanvas.context;
                    ctx.fillStyle = "red";
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
                this.makeFall = function () {
                    if (!isJumping) {
                        this.y += fallSpeed;
                        fallSpeed += 0.1;
                        this.stopPlayer();
                    }
                }
                this.stopPlayer = function () {
                    var ground = canvasHeight - this.height;
                    if (this.y > ground) {
                        this.y = ground;
                    }
                }
                this.jump = function () {
                    if (isJumping) {
                        this.y -= jumpSpeed;
                        jumpSpeed += 0.3;
                    }
                }
            }

            function createBlock() {
                var width = randomNumber(10, 60);
                var height = randomNumber(10, 200);
                var speed = randomNumber(3, 6);

                this.x = canvasWidth;
                this.y = canvasHeight - height;

                this.draw = function () {
                    ctx = gameCanvas.context;
                    ctx.fillStyle = "blue";
                    ctx.fillRect(this.x, this.y, width, height);
                }
                this.attackPlayer = function () {
                    this.x -= speed;
                    this.returnToAttackPosition();
                }
                this.returnToAttackPosition = function () {
                    if (this.x < 0) {
                        width = randomNumber(10, 50);
                        height = randomNumber(50, 200);
                        speed = randomNumber(4, 6);
                        this.y = canvasHeight - height;
                        this.x = canvasWidth;
                        // Increase your score if your block made it to the edge
                        score++;
                    }
                }
            }

            function detectCollision() {
                var playerLeft = player.x
                var playerRight = player.x + player.width;
                var blockLeft = block.x;
                var blockRight = block.x + block.width;

                var playerBottom = player.y + player.height;
                var blockTop = block.y;

                if (playerRight > blockLeft &&
                    playerLeft < blockLeft &&
                    playerBottom > blockTop) {

                    gameCanvas.stop();
                }
            }

            function createScoreLabel(x, y) {
                this.score = 0;
                this.x = x;
                this.y = y;
                this.draw = function () {
                    ctx = gameCanvas.context;
                    ctx.font = "25px Marker Felt";
                    ctx.fillStyle = "black";
                    ctx.fillText(this.text, this.x, this.y);
                }
            }

            function updateCanvas() {
                detectCollision();

                ctx = gameCanvas.context;
                ctx.clearRect(0, 0, canvasWidth, canvasHeight);

                player.makeFall();
                player.draw();
                player.jump();

                block.draw();
                block.attackPlayer();

                // Redraw your score and update the value
                scoreLabel.text = "Puntuación: " + score;
                scoreLabel.draw();
            }

            function randomNumber(min, max) {
                return Math.floor(Math.random() * (max - min + 1) + min)
            }

            function resetJump() {
                jumpSpeed = 0;
                isJumping = false;
            }

            document.body.onkeyup = function (e) {
                if (e.keyCode == 32) {
                    isJumping = true;
                    setTimeout(function () { resetJump(); }, 1000);
                }
            }

        </script>
   

</body></center>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>